body{
	background: #2B313B;
	background: url(noisetexture.png), -webkit-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), -moz-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), -o-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), -ms-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475161', endColorstr='#2B313B',GradientType=0 );
} 


.form-group{ width: 50%;

background:  hsl(0, 0%, 95%);
position: relative;
left: 250px;
margin-bottom: 10px;


}
#First_name{ width: 75%;
position: relative;
left: 75px;

}
#Last_name{ width: 75%;
position: relative;
left: 75px;

}

.row{ background-color: #e6e6e6

	}
 
.nav-item :hover{

 text-decoration: none;
}

  .nav-item a:hover{
  	background: white;
  	color: black;
  }
 
  .nav-item{
  display: inline-block;
   padding: 0px; 
    width: 150px;
    line-height: 150px;
    list-style-type: none;
    font-size: 18px;
    text-align: center;
}


   .nav-item a{
   	color: white;
   	display: block;
   }


   .nav-main{
	padding: 0px;
	margin:0px;
	width: 100% ;
	background-color: #333333;
	height: 150px;

	
     
}

.nopadding{
  padding: 0px;
}




.rentalform{
	background-color: #e6e6e6
}

 


p{
	max-width: 300px;
	text-align: center;
	font-weight: 30px;
	padding: 10px;
	position: relative;
	left: 300px;
}
 h3{ 
 	
 	padding: 20px;
 	color: blue;

}


.col-md-4{
	
	border: 2px solid black;
	height:500px;
	background-color: #e6e6e6;

}

.col-md-8 ul{
	
	list-style: none;
	padding: 20px;
	background-color: #e6e6e6;

}
.col-md-8{
height: 415px;
}

.footer{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 150px;
	background-color: #333333;
	position: relative;
	top: 800px;
}


.footer-item{
   display: inline-block;
   padding: 0px; 
   line-height: 150px;
   font-size: 18px;
   text-align: center;
   word-spacing: 10px;
}
.footer-item :hover{
 
 text-decoration: none;
}

.footer-item a{
   	color: white;
   	
   }
.footer-item a:hover{
  	background: white;
  	color: black;
  }

  #mg{
  	position: relative;
  	bottom: 40px;
  	box-shadow: 10px;
  }
